<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{{judul}}</title>
  </head>
  <body>
    <h1>{{judul}}</h1>
    <h2>{{object.judul}}</h2>
    <span>Oleh: {{object.penulis}}, Ditulis: {{object.publish}}</span>
    <p>{{object.isi}}</p>
    <br />
    <a href="{% url 'blog:list' 'all' %}">kembali</a>
    <br />
    <h3>Artikel Lainnya</h3>
    <ol>
      {% for artikel in artikel_lain %}
      <li>
        <a href="{% url 'blog:detail' artikel.slug %}"
          >{{artikel.judul}} - oleh : {{artikel.penulis}}</a
        >
      </li>
      {% endfor %}
    </ol>
  </body>
</html>
